.mita-component-singleimageviewer-right,
.mita-component-doubleimageviewer-right {
  display: inline;
}

.mita-component-singleimageviewer-image {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}

.mita-component-singlevimageiewer-image img {
  width: 100%;
}

.mita-component-viewer-thumbnails {
  width: 160px;
  height: 100%;
  border-left: 2px solid #cbcbcb;
  float:right;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}

.mita-component-viewer-thumbnail {
  padding: 4px 4px 4px 4px;
}

.mita-component-viewer-thumbnail img {
  width: 150px;
  height: auto;
}

.mita-component-viewer-thumbnail-highlighted {
  background-color: #428bca;
}
